body{
    margin: 0;
    padding: 0;
    background-image: url(https://images.unsplash.com/photo-1543248939-4296e1fea89b?q=80&w=2674&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
 
  color: #ffffff; 
}

.navbar {
    background-color: rgba(0, 0, 0, 0.5); 
  color: #eee7e7; 
}
 
.title{
  display: flex;
  justify-content:center;
  text-align:center;
  align-content:space-around;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color:rgb(32, 46, 236) ;
  font-size: 120px;

}